#leftcol
  .block
    .block-top
    .block-content
      %h2 General
      %ul
        %li
          %u Story
          = ": UNKNOWN"
        %li
          %u Logo "Suspended Coffee Supporter"
          = ": Totoro (from Sydney)"
      %h2 Translators
      %ul
        %li
          %u French
          = ": William Hubault"
        %li
          %u Swedish (coming soon)
          = ": Angelica Hedman"
        %li
          %u Spanish
          = ": Valeria Lugo Aguilar"
        %li
          %u Dutch
          = ": Willemijn Schravesande"
        %li
          %u Polish
          = ": Agnieszka Kalinowska"
        %li
          %u German
          = ": Saskia Rüdiger"
    .block-bottom

#rightcol
  .block
    .block-top
    .block-content
      %h3 Site developers
      %ul
        %li - William Hubault
        %li - Dellustrations team
    .block-bottom
