#leftcol
  .block
    .block-top
    .block-content
      %h2 Moderators
      %ul
        %li
          %u Helena Tande-Stageberg
          = ": Norway (norway@coffeesharing.com)"
        %li
          %u Saskia Rüdiger
          = ": Germany (germany@coffeesharing.com)"
        %li
          Australia
          %ul
            %li
              %u Declan & Jett
              = ": Melbourne (melbourne@coffeesharing.com)"
            %li
              %u Pariss Rees
              = ": Brisbane/Queensland (brisbane@coffeesharing.com)"
        %li
          %u Aoife Ryan
          = ": Ireland (ireland@coffeesharing.com)"
      %h2 Translators
      %ul
        %li
          %u French
          = ": William Hubault"
        %li
          %u Swedish (coming soon)
          = ": Angelica Hedman"
        %li
          %u Spanish
          = ": Valeria Lugo Aguilar"
        %li
          %u Dutch
          = ": Willemijn Schravesande"
        %li
          %u Polish
          = ": Agnieszka Kalinowska"
        %li
          %u German
          = ": Saskia Rüdiger"
      %h2 Various
      %ul
        %li
          %u Original blog post
          = ": Majla Paoli (from accidentaltourist.com)"
        %li
          %u Original story
          = ": ???"
        %li
          %u Logo "Suspended Coffee Supporter"
          = ": Totoro (from Sydney)"
    .block-bottom

#rightcol
  .block
    .block-top
    .block-content
      %h3 Site developers
      %ul
        %li= mail_to 'william@coffeesharing.com', '- William Hubault'
        %li - Dellustrations team
    .block-bottom
