#leftcol
	.block
		.block-top
		.block-content

			%h2=raw t(:story_title)
			= image_tag 'homeless.jpg', alt:"Drinking coffee!", width:'160px', style:'float:right; margin: 10px 0 0 10px;'
			%p=raw t(:story)
			%br

			%h2=raw t(:history_title)
			-# image_tag 'map.png', style:'float:right; margin: 10px 0 0px 10px;'
			%p=raw t(:history)
			%br

			%h2=raw t(:why_you_title)
			= image_tag 'coffee.png', width:'100px', style:'float:right; margin-top:15px'
			%p=raw t(:why_you)
			%br

			%h2=raw t(:who_follow_title)
			%p=raw t(:who_follow, count:@places.size, countries:@countries.size)
			= link_to "<span>#{t(:list_places)}</span>".html_safe, places_path, class:'yellow-button'
		.block-bottom

#rightcol
	-# Search
	.block
		.block-top
		.block-content
			%h3
				%span Info
			%p
				You might be experiencing slow response to our site.
				It is merely the perils of using inexpensive shared hosting, but we're working on it, and hope that it will get resolved shortly.
			%p
				We really appreciate your attention, and hope you will persevere in reading,
				%i even if the website seems a bit slow.
		.block-bottom
	.block
		.block-top
		.block-content
			%h3
				%span= t(:statistics)
			%ul
				%li=raw t(:stat_places, count:@places.size)
				%li=raw t(:stat_countries, count:@countries.size)
				%li=raw t(:stat_cities, count:@cities.size)
		.block-bottom
	.block
		.block-top
		.block-content
			%h3
				%span= t(:recently_added)
			%ul
				- @recent.each do |place|
					%li
						= link_to place.name.truncate(15), place
						%strong= place.address.city.truncate(8)
			%br
			%a{href:url_for(places_path), class:'yellow-button'}
				%span= t(:see_others)
		.block-bottom