#leftcol
  .block
    .block-top
    .block-content
      = link_to_function "<span>#{t(:add_yours)}</span>".html_safe, 'alert("Coming soon... Please send a mail at contact@coffeesharing.com with all your informations and we will add your place to our list.")', style:'float:right; margin:0', class:'yellow-button'
      %h2= t(:places)
      - @countries.each do |country,places|
        %h3
          %a{name:country}= country
        - places.each do |place|
          %h4
            = link_to place.name, place
            = "(#{place.address.city})"
        %br
    .block-bottom

#rightcol
  .block
    .block-top
    .block-content
      %h3
        %span= t(:statistics)
      %ul
        %li=raw t(:stat_places, count:@places.size)
        %li=raw t(:stat_countries, count:@countries.size)
        %li=raw t(:stat_cities, count:@cities.size)
    .block-bottom
  .block
    .block-top
    .block-content
      %h3
        %span= t(:countries)
      %ul
        - @countries.each do |country,places|
          %li= link_to country, "##{country}"
    .block-bottom