%h1.shop= shop_title @place

.social
  =link_to '', @place.twitter,     class:'twitter', alt:"#{@place.twitter_name} is on Twitter" unless(@place.twitter.blank?)
  =link_to '', @place.youtube,     class:'youtube', alt:"#{@place.name} is on YouTube"         unless(@place.youtube.blank?)
  =link_to '', @place.foursquare,  class:'foursquare', alt:"#{@place.name} is on Foursquare"   unless(@place.foursquare.blank?)
  =link_to '', @place.yelp,        class:'yelp', alt:"#{@place.name} is on Yelp"               unless(@place.yelp.blank?)
  =link_to '', @place.google_plus, class:'googleplus', alt:"#{@place.name} is on Google+"      unless(@place.google_plus.blank?)
  =link_to '', @place.facebook,    class:'facebook', alt:"#{@place.name} is on Facebook"       unless(@place.facebook.blank?)

#leftcol.showplace
  .block
    .block-top
    .block-content
      = block(@place, :infos, :notes)
      = array_of :phones, @place
      = array_of :emails, @place
      %p= workhours @place
      %p= freehours @place
      = extra @place
    .block-bottom

#rightcol.showplace
  .block
    .block-top
    .block-content
      = block @place, :address
      = array_of(:websites, @place) {|e| link_to(e, "http://#{e}", :rel => 'nofollow') }
    .block-bottom