<ul>
  <li><%= link_to "Press", controller:'pages', action:'press' %></li>
  <li><%= link_to "Contributors", controller:'pages', action:'contributors' %></li>
  <li>Contact us: <%= link_to 'contact@coffeesharing.com', 'mailto:contact@coffeesharing.com' %></li>
  <li><%= link_to image_tag('page-twitter.png', size:"16x16"), 'http://twitter.coffeesharing.com/', alt: 'Twitter feed' %></li>
  <li><%= link_to image_tag('page-facebook.png', size:"16x16"), 'http://facebook.coffeesharing.com/', alt: 'Facebook fan page' %></li>
  <li><%= link_to image_tag('page-googleplus.png', size:"16x16"), 'http://plus.coffeesharing.com/', alt: 'Google+ fan page' %></li>
</ul>