<div class="languages">
  <a class="flag flag-us <%=' active' if(I18n.locale == :en) %>" alt="English" href="?lang=en"></a>
  <a class="flag flag-fr <%=' active' if(I18n.locale == :fr) %>" alt="French" href="?lang=fr"></a>
  <a class="flag flag-se <%=' active' if(I18n.locale == :sv) %>" alt="Swedish" href="?lang=sv"></a>
  <a class="flag flag-es <%=' active' if(I18n.locale == :es) %>" alt="Spanish" href="?lang=es"></a>
  <a class="flag flag-nl <%=' active' if(I18n.locale == :nl) %>" alt="Dutch" href="?lang=nl"></a>
  <a class="flag flag-pl <%=' active' if(I18n.locale == :pl) %>" alt="Polish" href="?lang=pl"></a>
  <a class="flag flag-de <%=' active' if(I18n.locale == :de) %>" alt="German" href="?lang=de"></a>
  <a class="flag flag-ro disabled <%=' active' if(I18n.locale == :ro) %>" alt="Romanian"></a>
  <!-- <a class="flag flag-fi <%=' active' if(I18n.locale == :fi) %>" alt="Finish" href="?lang=fi"></a>
  <a class="flag flag-no <%=' active' if(I18n.locale == :no) %>" alt="Norwegian" href="?lang=no"></a>
  <a class="flag flag-ru <%=' active' if(I18n.locale == :ru) %>" alt="Russian" href="?lang=ru"></a>
  <a class="flag flag-tr <%=' active' if(I18n.locale == :tr) %>" alt="Turkish" href="?lang=tr"></a>
  <a class="flag flag-el <%=' active' if(I18n.locale == :el) %>" alt="Greek" href="?lang=el"></a>
  <a class="flag flag-id <%=' active' if(I18n.locale == :id) %>" alt="Indonesian" href="?lang=id"></a>
  <a class="flag flag-ar <%=' active' if(I18n.locale == :ar) %>" alt="Arabic" href="?lang=ar"></a>
  <a class="flag flag-ko <%=' active' if(I18n.locale == :ko) %>" alt="Korean" href="?lang=ko"></a>
  <a class="flag flag-ja <%=' active' if(I18n.locale == :ja) %>" alt="Japanese" href="?lang=ja"></a>
  <a class="flag flag-zh <%=' active' if(I18n.locale == :zh) %>" alt="Chinese" href="?lang=zh"></a>
  <a class="flag flag-it <%=' active' if(I18n.locale == :it) %>" alt="Italian" href="?lang=it"></a> -->
</div>