<ul>
<!--
  <li class="active"><%= link_to 'Home', controller:'pages', action:'home' %></li>
-->
  <li<%=' class="active"' if(current_page?(root_path))%>><%= link_to t(:about), root_path %></li>
  <li<%=' class="active"' if(current_page?(places_path))%>><%= link_to t(:places), places_path %></li>
  <li<%=' class="active"' if(current_page?(places_path))%>><%= link_to t(:goodies), posters_path %></li>
</ul>
