<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Coffee Sharing</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if lt IE 7]><style media="screen" type="text/css">@import "css/ie6.css";</style><![endif]-->
  <!--[if IE]><link rel="stylesheet" href="gh-fork-ribbon.ie.css" /><![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page">
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/coffeesharing/coffeesharing">Fork me on GitHub</a>
        </div>
    </div>
    <div id="header">
      <div class="background">
        <h1><a href="/">CoffeeSharing</a></h1>
        <%= render 'layouts/menu' %>
      </div>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <p>©2013 CoffeeSharing. Design by <a href="http://www.dellustrations.com/">Dellustrations.com</a> &amp; code by <a href="http://www.williamhubault.com">William Hubault</a>.</p>
      <%= render 'layouts/footermenu' %>
    </div>
  </div>
  <script>
    // Google Analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-39936803-1', 'coffeesharing.com');
    ga('send', 'pageview');
    // UserVoice
    (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/rp1V0yZNinBypk22ykOpg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()
    UserVoice = window.UserVoice || []; UserVoice.push(['showTab', 'classic_widget', {mode: 'full', primary_color: '#755638', link_color: '#b28f4f', default_mode: 'feedback', forum_id: 201435, tab_label: 'Feedback & Support', tab_color: '#cc6d00', tab_position: 'middle-right', tab_inverted: false }]);
  </script>
</body>
</html>
